<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JS VS ALL</title>

    <!-- Css -->
    <link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/my_paint/dist/my_paint.css" type="text/css"> 

    <!-- Script -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/my_paint/dist/my_paint.js"></script>
    <script src="/public/javascript/room.js"></script>
</head>
<body>
    <div id="app"></div>
</body>
</html>